* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #318b93;
    font-size: 13px;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.pure-g > div {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.map-background {
    background: #7ac7f1;
    transition: background-color ease 0.5s;
}

.map-background.death {
    background: #1c1c1c;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

/*
 * -- MENU STYLES --
 */
.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {
    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
}

/*
 * -- HIGHCHART/MAPS STYLES --
 */
#map_container, #graph_container {
    /*height: 100%;*/
    min-width: 310px;
    max-width: 850px;
    padding: 0 50px;
    margin: 0 auto;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

/*
 * -- SLIDER STYLES --
 */
.slide_container {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 30px; /* Specified height */
    background: #3b6ca7; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #b5d4de; /* Green background */
    box-shadow: 0 0 3px 1px rgba(0,0,0, 0.5);
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #5a5a5a; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

@media (min-width: 48em) {
    /* We increase the slider size */

    .slider {
        height: 50px;
    }

    .slider::-webkit-slider-thumb {
        width: 25px;
        height: 55px;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 55px;
    }
}

/*
 * -- CURRENT YEAR DISPLAY --
 */
.selectedYear {
    text-align: center;
}

/*
 * -- CUSTOM SELECT (DROPDOWN) --
 */
/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: inline-flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}

/*
 * -- PLAY/PAUSE BUTTON --
 */
.playButton {
    font-size: 150%;
    background: #ffffff;
    color: #3e5b76;
    border-radius: 50px;
}

.playButton span {
    padding: 0 5px;
}

/*
 * -- CUSTOM SWITCH STYLES --
 */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #324f68;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    font-family: FontAwesome;
    font-weight: 900;
    line-height: 26px;
    color: #e00000;
    content: "\f004";

    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle {
    background-color: #262628;
}

input:focus + .toggle {
    box-shadow: 0 0 1px #3f4f5a;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

    content: "\f714";
    color: #000000;
}

/* Rounded toggle */
.toggle.round {
    border-radius: 34px;
}

.toggle.round:before {
    border-radius: 50%;
}
